AIRTABLE_API_KEY=
AIRTABLE_BUYERS_BASE=
AIRTABLE_CONTACT_BASE=
AIRTABLE_BUYERS_TABLE="Buyers - Interest (staging website)"
AIRTABLE_CONTACT_TABLE="Contact"
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
IMAGE_STORAGE_URL=https://regen-registry.s3.amazonaws.com
MAILERLITE_API_KEY=
MAILERLITE_GROUP=
REDIS_URL=
REDIS_TLS_URL=
STRIPE_API_KEY=
STRIPE_ENDPOINT_SECRET=
SES_EMAIL=support-registry@regen.network
DATABASE_URL=postgres://postgres:postgres@localhost:5432/regen_registry
TEST_DATABASE_URL=postgres://postgres:postgres@localhost:5432/regen_registry
TEST_DATABASE_USER=postgres
FLYWAY_URL=postgres://postgres:postgres@localhost:5432/regen_registry
FLYWAY_PASSWORD=postgres
AUTH0_DOMAIN=regen-network-registry.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_V3_SECRET_KEY=